In [125]:
import pandas as pd
import hashlib

In [162]:
df = pd.read_csv("C:\\Users\\carnival\\Downloads\\annual-enterprise-survey-2020-financial-year-provisional-csv.csv" ,usecols=[2])

In [163]:
df

      Industry_code_NZSIOC
0                    99999
1                    99999
2                    99999
3                    99999
4                    99999
...                    ...
37075                 ZZ11
37076                 ZZ11
37077                 ZZ11
37078                 ZZ11
37079                 ZZ11

[37080 rows x 1 columns]

In [164]:
df=df[df.index%2==0]

In [165]:
hashed =' '.join(df["Industry_code_NZSIOC"].astype(str))

In [166]:
hashed = hashed.replace(" ","")

In [167]:
hashed_o =hashlib.md5(hashed.encode())
md5_hash = hashed_o.hexdigest()
print(md5_hash)

4dd595e104b509f219a56d3e52f409ac