In [125]:
import pandas as pd
import hashlib

In [126]:
df = pd.read_csv("C:\\Users\\carnival\\Downloads\\testcase.csv" ,usecols=[2])

In [127]:
df

   age
0   22
1   21
2   25

In [156]:
df=df[df.index%2==0]

In [157]:
hashed =' '.join(df["age"].astype(str))

In [158]:
hashed = hashed.replace(" ","")

In [161]:
hashed_o =hashlib.md5(hashed.encode())
md5_hash = hashed_o.hexdigest()
print(md5_hash)

443dec3062d0286986e21dc0631734c9